<!-- <mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Hyper 2000</mat-card-title>
    <mat-card-subtitle>Serial: XXX</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>aze</mat-card-content>

  <mat-card-footer>
    <mat-chip-set>
      <mat-chip matBadge="1"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="battery_0_bar"
        ></mat-icon> </mat-chip
      ><mat-chip matBadge="2"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="battery_2_bar"
        ></mat-icon> </mat-chip
      ><mat-chip matBadge="3"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="battery_4_bar"
        ></mat-icon> </mat-chip
      ><mat-chip matBadge="4"
        ><mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="battery_full"
        ></mat-icon>
      </mat-chip>
    </mat-chip-set>
  </mat-card-footer>
</mat-card> -->
