<div class="devices" [matBadge]="messageCount">
  <div class="device" *ngFor="let device of devices | keyvalue">
    <h2 class="title">
      Hyper 2000 <span>Serial Number: {{ device.value.sn }}</span>
    </h2>
    <div class="sensors">
      <div
        class="sensor"
        *ngFor="let sensor of device.value.sensors | keyvalue"
      >
        <h3>{{ sensor.value.name }}</h3>
        <p>
          {{
            getSensorState(
              device.key,
              sensor.value.name,
              sensor.value.unit_of_measurement
            )
          }}
          {{ sensor.value.unit_of_measurement }}
        </p>
      </div>
    </div>
  </div>
</div>
