<mat-vertical-stepper linear #stepper>
  <mat-step [stepControl]="zendureMQTTForm" [editable]="false">
    <ng-template matStepLabel>Connexion à l'API Zendure</ng-template>
    <ng-template matStepContent>
      <app-zendure-api-step
        [zendureApiForm]="zendureApiForm"
        (nextStep)="nextStep($event)"
      ></app-zendure-api-step
    ></ng-template>
  </mat-step>

  <mat-step [editable]="false">
    <ng-template matStepLabel>Récuppération des topics MQTT</ng-template>
    <ng-template matStepContent
      ><app-zendure-mqtt-step
        [zendureMQTTForm]="zendureMQTTForm"
      ></app-zendure-mqtt-step
    ></ng-template>
  </mat-step>

  <mat-step [editable]="false">
    <ng-template matStepLabel
      >Génération du fichier de configuration HASS</ng-template
    >
    <ng-template matStepContent>
      <app-hass-config-step></app-hass-config-step
    ></ng-template>
  </mat-step>
</mat-vertical-stepper>
