<app-main-menu></app-main-menu>

<div class="main">
  <ng-container *ngIf="!mqttDisplay">
    <div class="block">
      <h2 class="title is-2">Connexion à l'API Zendure</h2>
      <app-zendure-api-step
        [zendureApiForm]="zendureApiForm"
        (nextStep)="nextStep($event)"
      ></app-zendure-api-step>
    </div>
  </ng-container>

  <ng-container *ngIf="mqttDisplay">
    <div class="block">
      <h2 class="title is-2">Récuppération des topics MQTT</h2>
      <app-zendure-mqtt-step
        [zendureMQTTForm]="zendureMQTTForm"
      ></app-zendure-mqtt-step>
    </div>
  </ng-container>

  <div class="block">
    <h2 class="title is-2">Génération du fichier de configuration HASS</h2>
    <app-hass-config-step></app-hass-config-step>
  </div>
</div>
