<form [formGroup]="zendureApiForm">
  <div class="field">
    <label class="label">Zendure account email</label>
    <div class="control">
      <input
        class="input"
        type="text"
        formControlName="account"
        placeholder="john@doe.fr"
      />
    </div>
  </div>
  <div class="field">
    <label class="label">Inverter serial number</label>
    <div class="control">
      <input
        class="input"
        type="text"
        formControlName="snNumber"
        placeholder="EE1LHMH1M718386"
      />
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <button
        [class.is-loading]="isLoading"
        (click)="connexion()"
        class="button is-link"
      >
        Connexion
      </button>
    </div>
  </div>
</form>

<article class="message is-danger" *ngIf="errorMessage">
  <div class="message-header">
    <p>Connexion impossible</p>
  </div>
  <div class="message-body">
    {{ errorMessage }}
  </div>
</article>
